.button {
    padding: 10px 60px;
    border-radius: 8px;
}

.button:disabled {
    opacity: 0.6;
}

.button--default {
    border: 1px solid #DCDBDB;
}

.button--danger {
    background-color: #C92C39;
    color: #ffffff;
}